$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$light-gray: #ebebeb;

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: white;
  border-bottom: 1px solid $light-gray;

  .navbar {
    display: flex;
    font-size: 25px;
    align-items: center;
    height: 100%;

    div, a {
      padding: 0 10px;
    }
  }
}

#article-div, .article-header {
  max-width: 800px;
  margin: auto;
}

.article-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #refresh-button {
    max-height: 30px;
  }
}

#article-div {
  .updated {
    font-style: italic;
  }

  .article {
    margin-top: 10px;

    h3 {
      margin-bottom: 0;
    }

    .source-time {
      span {
        color: black;
      }
    }
  }
}
