{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}News App{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A News App">
    <meta name="author" content="Alice Pote">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <div class="nav">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="logo">
          News!
        </div>
        <a class="nav-link" href="{% url 'home' %}">Home</a>
        </div>
      </nav>

    </div>

    <div class="main-content">
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </div>
    <script src="{% static 'js/project.js' %}"></script>
  </body>
</html>
 
